!!! 5
%html
	%head
		%title legobmw99 - About
		%meta{:name => "viewport",:content => "width=device-width"}
		%link{:href => "css/bootstrap.css",:rel => "stylesheet",:type => "text/css"}
		%script{:src => "js/bootstrap.min.js"}
		%style body { padding-top: 60px;}
	%body
		.navbar.navbar-fixed-top.navbar-inverse
			.container
				.navbar-header
					%a.navbar-brand{:href => "/"} legobmw99
				.navbar-collapse.collapse
					%ul.nav.navbar-nav
						%li
							%a{:href => "/"}
								.glyphicon.glyphicon-home.glyphicon-white
								Home
						%li{:class => "active"}
							%a{:href => "about"}
								.glyphicon.glyphicon-info-sign.glyphicon-white
								About