!!! 5
%html
	%head
		%title legobmw99 - About
		%meta{:name => "viewport",:content => "width=device-width"}
		%link{:href => "css/bootstrap.css",:rel => "stylesheet",:type => "text/css"}
		%script{:src =>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "js/bootstrap.min.js"}
		%style body { padding-top: 60px;}
	%body
		.navbar.navbar-fixed-top.navbar-inverse{:role=>"navigation"}
			.container
				.navbar-header
					%button.navbar-toggle{:type=>"button", :data => {:toggle=>"collapse", :target=>".navbar-main-collapse" }}
						%span.sr-only Toggle Navbar
						%span.icon-bar
						%span.icon-bar
						%span.icon-bar
					%a.navbar-brand{:href => "/"} legobmw99
				.navbar-collapse.collapse.navbar-main-collapse
					%ul.nav.navbar-nav
						%li
							%a{:href => "/"}
								%span.glyphicon.glyphicon-home.glyphicon-white
								Home
						%li.active
							%a{:href => "about"}
								%span.glyphicon.glyphicon-info-sign.glyphicon-white
								About
		.container
			%section
				.alert.alert-warning
					%a.close{:data=>{:dismiss=>"alert"}} &times;
					This page is currently under construction!
				.page-header 
					%h2.text-muted About Me
				.row
					.col-md-6
						%p Hi, I'm Brian, but I go by Legobmw99 or just Lego. I play games, code things (Like this site!), read, watch videos, and all other sorts of fun stuff.
					.col-md-4
						%img.img-rounded.img-thumbnail{:src=>"img", :width=>"400"}
				.page-header#games
					%h2.text-muted Gamer
				.row
					.span
						.col-md-6
							%strong 
								%a{:href=>"http://minecraft.net/"} Minecraft
							%p The block-based game that has stolen my heart, and a signifigant portion of my time
						.col-md-4
							%img.img-rounded.img-thumbnail{:src=>"img/mc.png", :width=>"400"}
					.span
						.col-md-6
							%strong
								%a{:href=>"https://picroma.com/cubeworld"} Cube World
							%p The voxel-based RPG and timesink Cube World is another of my favorites
						.col-md-4
							%img.img-rounded.img-thumbnail{:src=>"img/cw.png", :width=>"400"}
				.page-header#code
					%h2.text-muted Coder
				.row