!!! 5
%html
	%head
		%title legobmw99 - Home
		%meta{:name => "viewport",:content => "width=device-width"}
		%link{:href => "css/bootstrap.css",:rel => "stylesheet",:type => "text/css"}
		%script{:src =>"http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "js/bootstrap.min.js"}
		%style body { padding-top: 60px;}
		%script   $(document).ready(function(){$('.carousel').carousel({interval: 4000});});
	%body
		.navbar.navbar-fixed-top.navbar-inverse
			.container
				.navbar-header
					%a.navbar-brand{:href => "/"} legobmw99
				.navbar-collapse.collapse
					%ul.nav.navbar-nav
						%li{:class => "active"}
							%a{:href => "/"}
								.glyphicon.glyphicon-home.glyphicon-white
								Home
						%li
							%a{:href => "about"}
								.glyphicon.glyphicon-info-sign.glyphicon-white
								About
		.container
			.carousel.slide#carousel
				%ol.carousel-indicators
					%li.active{:data => {:target => "#carousel", :slide_to => 0}}
					%li{:data => {:target => "#carousel", :slide_to => 1}}
					%li{:data => {:target => "#carousel", :slide_to => 2}}
				.carousel-inner
					.item.active
						%img{:src=>"img/carousel.png"}
					.item
						%img{:src=>"img/carousel1.png"}
					.item
						%img{:src=>"img/carousel2.png"}
				%a.left.carousel-control{:href=>"#carousel", :data=>{:slide=> "prev"}}
					%span.icon-prev
				%a.right.carousel-control{:href=>"#carousel", :data=>{:slide=> "next"}}
					%span.icon-next