!!! 5
%html
	%head
		%title legobmw99 
		%meta{:name => "viewport",:content => "width=device-width"}
		%link{:href => "css/bootstrap.css",:rel => "stylesheet",:type => "text/css"}
		%script{:src => "js/bootstrap.min.js"}
	%body
		%a.btn.btn-primary{:href => "https://google.com"} Google
		