%html
	%head
		%title Testing 
		%link{:href => "css/boostrap.css",:rel => "stylesheet",:type => "text/css"}
		%script{:src => "js/bootstrap.min.js"}
		%script{:src => "js/jquery.js"}
	%body
		%a{:href => "https://google.com",:class => "btn btn-danger"} Google
		%i{:class => "glyphicon glyphicon-fire"}